<a href="https://colab.research.google.com/github/gaya935/DTschool_Python/blob/main/_notebooks/2021-05-27_1%ED%8C%80_%EB%82%A8%EA%B0%80%EC%97%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 예제

In [ ]:
# 주사위 빈도 계산하기
# 실패

import random
cube=[]

for i in range(10000):
    a=random.randint(1,6)
    if a=1:
    cube.append(cube)

SyntaxError: ignored

In [ ]:
# 주사위 빈도 계산하기
# 선생님 답

import random
dice_cnt=[0,0,0,0,0,0]     # 리스트 초기화

for i in range(10000):
    number=random.randint(1,6)
    if number==1:            # 횟수 카운트
        dice_cnt[0]+=1       # elif는 중첩반복
    elif number==2:
        dice_cnt[1]+=1
    elif number==3:
        dice_cnt[2]+=1
    elif number==4:
        dice_cnt[3]+=1
    elif number==5:
        dice_cnt[4]+=1
    elif number==6:
        dice_cnt[5]+=1

print(dice_cnt)

[1693, 1684, 1612, 1696, 1710, 1605]

In [ ]:
# 주사위 빈도 계산하기
# 신박한 방법(장민준 님)

import random
dice = [1,2,3,4,5,6]
conse = []
for i in range(10000) :
    conse.append(random.choice(dice))
for i in range(1, len(dice)+1) :
    print(f'{i}은(는) {conse.count(i)}개')

1은(는) 1615개
2은(는) 1627개
3은(는) 1647개
4은(는) 1724개
5은(는) 1702개
6은(는) 1685개

In [ ]:
# 과목별 점수의 평균 구하기

score=[[96,84,80],[96,86,76],[76,95,83],[89,96,69],[90,76,91],[82,66,88],[83,86,79],[85,90,83]]
kor=[]
eng=[]
math=[]

for temp in score:
    kor.append(temp[0])
    eng.append(temp[1])
    math.append(temp[2])

print(kor)
print(eng)
print(math)

kor_avg=round(sum(kor)/len(kor),1)
eng_avg=round(sum(eng)/len(eng),1)
math_avg=round(sum(math)/len(math),1)
print('-'*50)

print(f'국어평균: {kor_avg}점, 영어평균: {eng_avg}점, 수학평균: {math_avg}점')

[96, 96, 76, 89, 90, 82, 83, 85]
[84, 86, 95, 96, 76, 66, 86, 90]
[80, 76, 83, 69, 91, 88, 79, 83]
--------------------------------------------------
국어평균: 87.1점, 영어평균: 84.9점, 수학평균: 81.1점

In [ ]:
kor = []
eng = []
math = []
scores = [[96,84,80], [96,86,76], [76,95,83], [89,96,69], [90,76,91], [82,66,88], [83,86,79], [85,90,83]]
for i in range(3):
    for j in range(8):
        if i == 0:
            kor.append(scores[j][i])
        elif i == 1:
            eng.append(scores[j][i])
        elif i == 2:
            math.append(scores[j][i])
print(f'국어: {kor}')
print(f'영어: {eng}')
print(f'수어: {math}')
print(f'국어평균: {round(sum(kor)/len(kor),1)}, 영어평균: {round(sum(eng)/len(eng),1)}, 수학평균: {round(sum(math)/len(math),1)}')

국어: [96, 96, 76, 89, 90, 82, 83, 85]
영어: [84, 86, 95, 96, 76, 66, 86, 90]
수어: [80, 76, 83, 69, 91, 88, 79, 83]
국어평균: 87.1, 영어평균: 84.9, 수학평균: 81.1

# 튜플

In [ ]:
# 튜플
# tuple_name=()
# 값을 바꿀 수 없다.
# 프로그램을 실행하는 동안 값이 바뀌면 안되는 경우에 사용.(주민번호, 전화번호 등)
# 선언과 동시에 메모리가 정해짐. 빠르고 정확하게 사용 가능. 대단위의 정보 사용

t1=(1,2,3)
t2=(1,)
print(t1,t2)

(1, 2, 3) (1,)

In [ ]:
# 튜플다루기

t1 = (1,5,3,4,2)
t2 = (6,7,8,9,8)  
print(t1[1])             # 인덱싱
print(t1[2:4])           # 슬라이싱
print(t1+t2)             # 더하기
print(t1*3)              # 곱하기
print(len(t1))           # 길이 구하기
print(t2.index(9))       # 요소의 위치 찾기
print(t2.count(8))       # 요소의 갯수

sort_t1 = sorted(t1)     # 정렬된 새로운 리스트 반환
print(sort_t1)

5
(3, 4)
(1, 5, 3, 4, 2, 6, 7, 8, 9, 8)
(1, 5, 3, 4, 2, 1, 5, 3, 4, 2, 1, 5, 3, 4, 2)
5
3
2
[1, 2, 3, 4, 5]

In [ ]:
# 리스트의 합계 구하기

values=[56,12,33,8,3,2,98]
total=0
for i in range(7):
    total+=values[i]
print(total)

values=[56,12,33,8,3,2,98]
total=0
for i in values:
    total+=i
print(total)

values=[56,12,33,8,3,2,98]
total=sum(values)
print(total)

212
212
212

# 딕셔너리

In [ ]:
# dict_name={key0:value0,...,keyN:valueN}
# 키:값이 쌍을 이루어 하나의 요소로 저장된다.
# 순서가 없다.
# 인덱스가 아닌 키(key)로 제어한다. 따라서 키(key)는 고유해야하며 수정 불가능하다.

menu={'아메리카노':2000,'카페라떼':3000,'카푸치노':3500}
dict_person={'name':'홍길동','phone':'01012345678','age':35,'hobbies':['운동','독서']}
dict_person
dict_phone={'홍길동':'01012345678','공유':'01056781234','현빈':'01098765432'}
dict_phone

{'공유': '01012345678', '현빈': '01012345678', '홍길동': '01012345678'}

In [ ]:
# 값은 변경/중복 가능, 키는 변경/중복 불가능
# 키는 중복되어도 오류는 안나지만, 여러개 중 하나의 키만 참조되므로 프로그램이 정상 작동하지 않을 수 있음.
dict_score={'홍길동':80,'공유':90,'현빈':100}

# 들여쓰기로 여러줄에 기술할 수 있다.
dict_score={
    '홍길동':80,
    '공유':90,
    '현빈':100
}
dict_score

{'공유': 90, '현빈': 100, '홍길동': 80}

In [ ]:
# 요소추가하기
dict_score={}
dict_score['홍길동']=90
dict_score['공유']=90
dict_score['현빈']=100
dict_score

{'공유': 90, '현빈': 100, '홍길동': 90}

In [ ]:
# 요소 삭제하기

dict_score={
    '홍길동':80,
    '공유':90,
    '현빈':100
}
del dict_score['홍길동']
dict_score

{'공유': 90, '현빈': 100}

In [ ]:
# 요소 추출하고 삭제
dict_score={
    '홍길동':80,
    '공유':90,
    '현빈':100
}
sco=dict_score.pop('홍길동')
print(sco)            # 요소 추출
print(dict_score)     # 추출된 요소 삭제

80
{'공유': 90, '현빈': 100}

In [ ]:
# 모든 요소 전체 삭제
dict_score={
    '홍길동':80,
    '공유':90,
    '현빈':100
}

dict_score.clear()
dict_score

{}

In [ ]:
# 요소 수정하기

dict_score={
    '홍길동':80,
    '공유':90,
    '현빈':100
}
dict_score['공유']=95      # 키 값이 있으면 수정, 키 값이 없으면 추가
dict_score

{'공유': 95, '현빈': 100, '홍길동': 80}

In [ ]:
# 요소 추출
dict_score={
    '홍길동':80,
    '공유':90,
    '현빈':100
}
print(dict_score['홍길동'])

# 요소 추출2
dict_score={
    '홍길동':80,
    '공유':90,
    '현빈':100
}
print(dict_score.get('홍길동'))

80
80

In [ ]:
# 존재하지 않는 키 추출
dict_score={
    '홍길동':80,
    '공유':90,
    '현빈':100
}
print(dict_score.get('송중기'))                 # 존재하지 않는 키로 추출하면 None리턴
print(dict_score.get('송중기','없음'))          # 존재하지 않는 키로 추출하면 미리 정해둔 값 리턴

None
없음

In [ ]:
# 키 값이 존재하는지 확인

dict_score={
    '홍길동':80,
    '공유':90,
    '현빈':100
}
print('송중기' in dict_score)

#
dict_score={
    '홍길동':80,
    '공유':90,
    '현빈':100
}

'홍길동' in dict_score

False

True

In [ ]:
# 모든 key만 얻기
dict_score={
    '홍길동':80,
    '공유':90,
    '현빈':100
}

print(dict_score.keys())           # 모든 키 반환
print(list(dict_score.keys()))     # 리스트 형식으로 모든 키 반환

dict_keys(['홍길동', '공유', '현빈'])
['홍길동', '공유', '현빈']

In [ ]:
# 모든 value만 얻기
dict_score={
    '홍길동':80,
    '공유':90,
    '현빈':100
}

print(dict_score.values())           # 모든 값 반환
print(list(dict_score.values()))     # 리스트 형식으로 모든 값 반환

dict_values([80, 90, 100])
[80, 90, 100]

In [ ]:
# 모든 key,value 쌍으로 얻기
dict_score={
    '홍길동':80,
    '공유':90,
    '현빈':100
}

print(dict_score.items())           # 모든 키-값 반환(튜플로 묶여서)
print(list(dict_score.items()))     # 리스트 형식으로 모든 키-값 반환(튜플로 묶여서)

dict_items([('홍길동', 80), ('공유', 90), ('현빈', 100)])
[('홍길동', 80), ('공유', 90), ('현빈', 100)]

In [ ]:
# 데이터 모두 출력하기 1

dict_score={
    '홍길동':80,
    '공유':90,
    '현빈':100
}
for key in dict_score.keys():
    print(key,dict_score[key])

print('-'*60)
# 데이터 모두 출력하기 2

dict_score={
    '홍길동':80,
    '공유':90,
    '현빈':100
}
for key,value in dict_score.items():
    print(key,value)

홍길동 80
공유 90
현빈 100
------------------------------------------------------------
홍길동 80
공유 90
현빈 100

In [ ]:
# 데이터 정렬하여 모두 출력하기
# 데이터 모두 출력하기 1

dict_score={
    '홍길동':80,
    '공유':90,
    '현빈':100
}
# 딕셔너리의 키를 정렬하여 리스트로 받음
sort_keys=sorted(dict_score.keys())
print(sort_keys)

# 정렬된 키 리스트 순서로 반복
for key in sort_keys:
    print(key,dict_score[key])

['공유', '현빈', '홍길동']
공유 90
현빈 100
홍길동 80

In [ ]:
# 데이터 모두 출력하기 2

dict_score={
    '홍길동':80,
    '공유':90,
    '현빈':100
}

# 딕셔너리의 키를 정렬하여 튜플(키,값)으로 받음
sort_items=sorted(dict_score.items())
print(sort_items)

# 정렬된 키 리스트 순서로 반복
for key,value in sort_items:
    print(key,value)

[('공유', 90), ('현빈', 100), ('홍길동', 80)]
공유 90
현빈 100
홍길동 80

In [ ]:
# 요소개수 세기
dict_score={
    '홍길동':80,
    '공유':90,
    '현빈':100
}

len(dict_score)

3

In [ ]:
# 마일리지 관리

mile={'Kim':12000,'Lee':11000,'Han':3000,'Hong':5000,'Nam':18000}
for key in mile.keys():
    print(key,mile[key])

print('-'*60)

mile['Han']=5000
mile['Jang']=7000
print(mile)

print('-'*60)
print(max(list(mile.values())))

Kim 12000
Lee 11000
Han 3000
Hong 5000
Nam 18000
------------------------------------------------------------
{'Kim': 12000, 'Lee': 11000, 'Han': 5000, 'Hong': 5000, 'Nam': 18000, 'Jang': 7000}
------------------------------------------------------------
18000

# 예제

In [ ]:
# 마일리지 관리_다른 방법
dic = {'kim':12000, 'lee':11000, 'han':3000, 'hong':5000, 'hwang':18000}
dic['han'] = 5000
dic['jang'] = 7000
print(dic)
value_max = max(dic.values())
for key, value in dic.items():
    if value == value_max:
        print(key, value)

{'kim': 12000, 'lee': 11000, 'han': 5000, 'hong': 5000, 'hwang': 18000, 'jang': 7000}
hwang 18000

In [ ]:
# 단어장 만들기

voca={}
while True:
    eng = input('eng: ')
    if eng=='':
        break
    kor = input('kor: ')
    voca[eng]=kor
print(voca)

score=0
for s in voca.keys():
    kor =input(s+':')
    if kor == voca[s]:
        score+=1

print(f'맞은 개수/전체 단어수: {score} / {len(voca.values())}')

eng: 11
kor: 22
eng: 33
kor: 44
eng:
{'11': '22', '33': '44'}
11:22
33:33
맞은 개수/전체 단어수: 1 / 2